body {
    background-color: silver;
}

.container {
    width: 38vw;
    align-items: center;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

fieldset {
    background-color: silver;
}

fieldset > div {
    margin: 11px;
}

fieldset > div > input {
    width: 100%;
}

fieldset > div > button {
    width: 65%;
    margin-left: 18%;
}

input:invalid {
    border: 1.1px dotted maroon;
}

input:focus {
    outline: thin;
    border: 1.1px solid green;
}

input:valid {
    outline: thin;
    border: 1.1px solid silver;
    background: linear-gradient(to left, green, yellowgreen);
}

.error-active {
    background: silver;
    color: maroon;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}